html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


:root {
    --color1: transparent;
    --color2: #FFFCDD;
}



html {
    height: 100%;
}

body {
    margin:0;
    font-family: 'Inconsolata', monospace;
    /* padding-bottom: 300px; */
}

#type-text {
	display: inline-block;
	color: #DAE7E6;
	border-right: 3px solid #DAE7E6;
}

h1, h2, h3, h4, h5 {
    font-family: 'Prata', serif;
    font-weight: normal;
}

h1 {
    font-size: 150px;
    margin: 0;
}

h2 {
    font-size: 100px;
}


#menu-overlay {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #DAE7E6;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    z-index: 10;
    transform: scale(0);
    transition: 0.5s;
}

#menu-overlay.active {
    transform: scale(1);
}

#menu-overlay ul {
    position: relative;
}

#menu-overlay ul li {
    position: relative;
    list-style: none;
    text-align: center;
    display: block;
}

#menu-overlay ul li a {
    position: relative;
    text-decoration: none;
    font-size: 3.5em;
    padding: 0 10px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}

#menu-overlay ul li a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width:100%;
    height: 8px;
    background: #2f4f4f;
    transform: translateY(-50%) scale(0);
    transform-origin: right;
    transition: 0.5s transform;
}

#menu-overlay ul li a:hover:before {
    transform: translateY(-50%) scale(1);
    transform-origin: left;
    transition: 0.5s transform;
}

#toggleIcon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(../img/open-match.png);
    z-index: 20;
    cursor: pointer;
}

#toggleIcon.active {
    background: url(../img/close-match.png);
}

.languages {
    height: 50vh;
    background-color: grey;
}

.icon-row {
    height: 50%;
}

.projects h2 {
    color: darkseagreen;
    text-align: right;
    margin-bottom: 8%;
    font-size: 7em;
}

.mePic {
    border-radius: 47%;
}


.my-stack{
    margin-top: 10%;
}

.about-me {
    padding-top: 4%; 
} 


 .my-stack h2 {
    color: #003170;
    margin-bottom: 4%;
    font-size: 5em;
} 

.img-margin {
    margin-bottom: 49px;
}

.contact h2 {
    color: darkseagreen;
}

 section.contact {
    height: 62vh;
    margin-top: 5%;
    padding-right: 2%;
    padding-top: 2%;
}

h3{
    font-size: 50px;
}

.projects h3 {
    color: #16736e;
}

.my-stack h3 {
    color: #306fbf;
    margin: 0 0 40px 0;
    line-height: 100%;
}

h4 {
    font-size: 32px;
    color: #16736e;
    background-color: #fff9aa;
    display: inline-block;
    margin: 0;
    padding: 4px;
}

.projects h4 {
    position: absolute;
    z-index: 1;
    top: -25px;
   
}

.projects h4.right-aligned {
    right: 0;
}

.extra-gutters {
    padding: 0 60px;
}

.right-aligned {
    text-align: right;
}

.works a {
    letter-spacing: 2px;
    color: #2ce6dc;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

p {
    line-height: 160%;
}

nav {
    position: fixed;
    z-index: 1;
    left: 0;
    right:0;
    font-family: 'Prata', serif;
    font-size: 22px;
    background: var(--color1);
    transition: all 350ms ease-out;
}

.navigation {
    text-align: center;
}

.navigation li {
    display: inline-block;
    margin: 0 15px;
    
}

.navigation li:hover {
    background-color:#273E47;
}

.navigation li a {
    color: #3CBCB6;
    text-decoration: none;
}

.left-col, .right-col {
    color: white;
    text-align: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-col {
    background-color: #2f4f4f;
    color: #DAE7E6;
    text-align: center;
}

.right-col {
    background-color: #DAE7E6;
    /* background-color: #C4A78D;  */
} 


.top-container {
    width: 50%;
    margin: 0 auto;
    
}

 video {
    max-width: 100%;
    height: auto;
  }

  .vid-border {
    border: solid 3px white;
} 

.scroll {
    color: #3CBCB6;
    text-align: center;
    margin-top: 2%;
}


.form_div {
    display:flex;
    align-items: center;
    justify-content: center;

}

form.form-style {
    min-height: 40%;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: darkslategray;
    border-radius: 8%;

}

@media (min-width: 1100px) and (max-width : 2000px){

   button {
       margin-bottom: 20%;
   }

   #name.input-style {
       margin-top: 20%
   }

}

.row.form_div {
    height: 50vh;
}

.col-sm {
    min-height: 100%;
}

input.input-style{
    padding: 10px 20px;
    margin-top: 5%;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    background: transparent;
    line-height: 1.2;
    font-size: 16px;
    background-color: antiquewhite;
    color: darkslategrey;
}

 textarea#message { 
    padding: 10px 20px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    margin-top: 5%;
    background: transparent;
    line-height: 1.2;
    font-size: 16px;
    min-height: 60%;
    resize: none;
    background-color: antiquewhite;
    color: darkslategrey;
} 

.form-style ul {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

 button {
    display: inline-block;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    text-align: center;
    padding: 15px 18px;
    width: 60%;
    font-family: arial;
    margin-top: 9%;
    background-color: antiquewhite;
    color: darkslategray;
    font-weight: 700;
    position: relative;
    left: 20%;
    transition: all 0.4s;
}

button:hover {
    background-color: #F7DBB6;
} 


img {
    max-width: 75%;
}

.projects {
   
    color: #16736e;
  
}

/* card Animation */
.card:hover {
    opacity: 0.5;
}

.card p {
    text-align: center;
    margin-top: 5%;
}


.card-image-1 {
    height: 85%;
    width: auto;
    background-image: url("../img/healthydining.jpg");
    background-size: cover;
    background-position: center;
    
}

.card-image-2 {
    height: 85%;
    width: auto;
    background-image: url("../img/markus-winkler-afW1hht0NSs-unsplash.jpg");
    background-size: cover;
}

.card-image-3 {
    height: 85%;
    width: auto;
    background-image: url("../img/scott-webb-ywuH99ygfec-unsplash.jpg");
    background-size: cover;
}

 .card-image-4 {
    height: 85%;
    width: auto;
    background-image: url("../img/felix-dubois-robert-CuEvrPd3NYc-unsplash.jpg");
    background-size: cover;
}

.card-image-5 {
    height: 85%;
    width: auto;
    background-image: url("../img/amy-shamblen-pJ_DCj9KswI-unsplash.jpg");
    background-size: cover;
}

 .card-image-6 {
    height: 85%;
    width: auto;
    background-image: url("../img/pineapp.jpg");
    background-size: cover;
    background-position: center;
} 

.card__content {
    height: 200px;
}

.card {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  height: 400px;
  margin-bottom: 5%;
  transition: opacity 0.5s ease;
}

.card-styles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

 footer {
    background-color: #DAE7E6;
    min-height: 220px;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    color:#65524D;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    text-align: center;

} 


.social-icon {
    height: 60px;
    filter: invert(27%) sepia(46%) saturate(343%) hue-rotate(131deg) brightness(84%) contrast(88%);
    margin: 10px 20px;
   
} 

 .social-icon:hover {
    filter: invert(100%) sepia(15%) saturate(6939%) hue-rotate(160deg) brightness(78%) contrast(86%);
}

.social-icons-container {
    text-align: center;

}

/* smaller screens  */

@media only screen and (max-width: 500px){
    /* Small smartphones [325px -> 425px] */

    body {
        /* max-width: 100%; */
        overflow-x: hidden;
    }



    section.col.right-col {
        display: none;
    }

    .left-col h1 {
        font-size: 130px;
        position: relative;
        left: -14%;
    }

    .left-col {
        height: 95vh;
    }

    section.contact {
        height: 68vh;
        margin-top: 5%;
        padding-right: 2%;
        padding-top: 2%;
    }
    
    .contact h2 {
        color: darkseagreen;
        font-size: 6.5em;
        text-align: center;
        margin-bottom: 8%;
        
    }

    .contact p {
        display: none;
    }

    form.form-style {
        min-height: 350px;
        display: flex;
        justify-content: center;
        justify-items: center;
        background-color: darkslategray;
        border-radius: 8%;
    }


    .my-stack p {
        text-align: center;
    }

    .my-stack img {
        max-width: 100%;
        margin-bottom: 10%;
    }

    .my-stack h2 {
        text-align: center;
        margin-top: 25%;
        margin-bottom: 12%;
    }

    .projects h2 {
        text-align: center;
        margin-top: 21%;
    }

    .small-screen {
        display: none;
    }

    footer {
        min-height: 196px;
    }
}